$greenColor: 						#76c7c0;
$greenColorShadow: 			#62bdbd;
$greenBtn:							#6e978e;
$greenBtnShadow:				#528b86;
$redColor : 						#e8645a;
$redShadowColor: 				#e2534b;
$sliderParagraphColor: 	#3f4646;
$greyColor:							#7f8c8c;
$introBackground:				#ececec;
$serciveItemShadow: 		#e5e6e6;
$greyBackground: 				#ececec;
$whiteBackground: 			#f3f3f3;

