<section id="about">
	<div class="container-fluid">
		<h2 class="about__title text-center">WHY MODUS VERSUS?</h2>
		<p class="about__text text-center">Capacitance cascading integer reflective interface data development high bus cache dithering transponder.  </p>	

		<div class="container">
			<div class=" row">
				
				<div class="col-md-4 about__first-wrap">
					<div class="about__first-screen">
						<div class="round-button-1"></div>
						<div class="round-button-2"></div>
						<div class="round-button-3"></div>
						<div class="right-button"></div>
						<div class="browser-content"></div>
					</div>
				</div>

				<div class="col-md-4 about__second-wrap">
					<div class="about__second-screen">
						<div class="round-button-1"></div>
						<div class="round-button-2"></div>
						<div class="round-button-3"></div>
						<div class="right-button"></div>
						<div class="browser-content"></div>
					</div>
				</div>

				<div class="col-md-4 about__third-wrap">
					<div class="about__third-screen">
						<div class="round-button-1"></div>
						<div class="round-button-2"></div>
						<div class="round-button-3"></div>
						<div class="right-button"></div>
						<div class="browser-content"></div>
					</div>
				</div>

			</div> <!-- /about screen wrapper -->
		</div><!-- /container -->

		<div class="container about__bottom-container">
			<div class="row">
				<div class="col-md-3 why-choose-column">
					<h4 class="about__title-client">Why Choose Us ?</h4>
					<ul class="about__list">
						<li class="about__list-item"><i class="fa fa-arrow-right"></i>Quisque at massa ipsum</li>
						<li class="about__list-item"><i class="fa fa-arrow-right"></i>Maecenas a lorem augue, egestas</li>
						<li class="about__list-item"><i class="fa fa-arrow-right"></i>Cras vitae felis at lacus eleifend</li>
						<li class="about__list-item"><i class="fa fa-arrow-right"></i>Etiam auctor diam pellentesque</li>
						<li class="about__list-item"><i class="fa fa-arrow-right"></i>Nulla ac massa at dolor</li>
						<li class="about__list-item"><i class="fa fa-arrow-right"></i>Condimentum eleifend vitae vitae</li>
					</ul>
				</div>
				<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<p class="about__intro-text">Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus <a href="#" class="about__intro-text__link">vehicula mattis</a>. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.</p>
					</div>
				</div>
				<div class="row diagrams-row">
					<div class="col-md-3">
						<div class="about__diagram about__diagram__50">
							<p class="about__diagram__percent">50</p>
							<p class="about__diagram__legend">Suspendisse</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="about__diagram about__diagram__70">
							<p class="about__diagram__percent">70</p>
							<p class="about__diagram__legend">Maecenas</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="about__diagram about__diagram__80">
							<p class="about__diagram__percent">80</p>
							<p class="about__diagram__legend">Aliquam</p>
						</div>
					</div>

					<div class="col-md-3">
						<div class="about__diagram about__diagram__100">
							<p class="about__diagram__percent">100</p>
							<p class="about__diagram__legend">Habitasse</p>
						</div>
					</div>
				</div>				
					
				</div> <!-- /col-md-6 -->
				<div class="col-md-3">
					<h4 class="about__title-client">What Client's Say ?</h4>
					<q class="about__quote">
						<em>Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis.</em> Nulla ac massa at dolor condimentum
					</q>
					<p class="about__quote-author">Jhon Doe</p>
				</div>
			</div>
		</div>

	</div> <!-- /container-fluid -->
	
</section>