<section id="clients" class="container">
	<div class="row top-row">
		<div class="col-md-2">
			<h4 class="clients__title">Our Happy Clients</h4>
		</div>
		<div class="col-md-9">
			<div class="horizontal-rule">
				<span class="h-r-text">clients</span>
			</div>
		</div>
		<div class="col-md-1 clients__btn">
			<button class="btn clients__btn-right"><i class="fa fa-chevron-left fa-inverse"></i></button>
			<button class="btn clients__btn-left"><i class="fa fa-chevron-right fa-inverse"></i></button>
		</div>
	</div><!-- /row -->
    <div class="row">
        <div class="carousel">
            <div class="clients__carousel">
                <ul class="carousel__list">
                    <li class="carousel__item first">
                        <img class="carousel__pic" src="img/client1.jpg">
                    </li><!--
                 --><li class="carousel__item">
                        <img class="carousel__pic" src="img/client2.jpg">
                    </li><!--
                 --><li class="carousel__item">
                        <img class="carousel__pic" src="img/client3.jpg">
                    </li><!--
                --><li class="carousel__item">
                    <img class="carousel__pic" src="img/client4.jpg">
                </li><!--
                --><li class="carousel__item">
                    <img class="carousel__pic" src="img/client5.jpg">
                </li><!--
                --><li class="carousel__item">
                    <img class="carousel__pic" src="img/client6.jpg">
                </li><!--
                --><li class="carousel__item">
                    <img class="carousel__pic" src="img/client7.jpg">
                </li><!--
                --><li class="carousel__item">
                    <img class="carousel__pic" src="img/client8.jpg">
                </li><!--
                --><li class="carousel__item">
                    <img class="carousel__pic" src="img/client9.jpg">
                </li><!--
                --><li class="carousel__item">
                    <img class="carousel__pic" src="img/client10.jpg">
                </li>
                </ul>
            </div>
        </div>
    </div>
</section>