<section id="home">
	<h2 class="hidden">VESTIBULUM slider</h2>
	<div class="slider">
		<div class="home__slider">

			<div class="home__slider__text">
				<div class="home__slider__text-title"><span>VESTIBULUM</span></div>
				<div class="home__slider__text-paragraph">Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</div>
			</div>

			<ul class="slider__list">
				<li class="slider__item active">
					<img class="slider__pic" src="img/slider1.jpg">
				</li>
				<li class="slider__item">
					<img class="slider__pic" src="img/slider2.jpg">
				</li>
				<li class="slider__item">
					<img class="slider__pic" src="img/slider3.jpg">
				</li>
			</ul>
			<div class="container">
				<ul class="slider__dots">
					<!--controls-->
				</ul>
			</div>
		</div>
		<div class="home__slider-controls">
			<a href="" class="btn home__btn-left"><i class="fa fa-angle-double-right fa-inverse"></i></a>
			<a href="" class="btn home__btn-right"><i class="fa fa-angle-double-left fa-inverse"></i></a>
		</div>
	</div>
</section>