<section id="service" class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="service__item">
				<i class="fa fa-thumbs-o-up"></i>
				<h4>SUSPENDISSE</h4>
				<p>Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc.</p>
				<a class="btn">read more</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="service__item">
				<i class="fa fa-key"></i>
				<h4>MAECENAS</h4>
				<p>Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
				<a class="btn">read more</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="service__item">
				<i class="fa fa-flag"></i>
				<h4>ALIQUAM</h4>
				<p>Vivamus eget ante bibendum arcu vehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non. </p>
				<a class="btn">read more</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="service__item">
				<i class="fa fa-flask"></i>
				<h4>HABITASSE</h4>
				<p>Astehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non. </p>
				<a class="btn">read more</a>
			</div>
		</div>
	</div>
</section>